/* client/style.css */

body {
    font-family: Arial, sans-serif;
}

#home-container, #auth-container, #chat-container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
}
